    <!-- =========================
     SECTION: BRIEF RIGHT
    ============================== -->
    <section class="brief grey-bg text-left" id="first_date">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-left">
                        <%= image_tag "paris_financial_tracy.jpg" %>
                    </div>
                </div>
               
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        WHERE TO STAY
                    </div>
                    <h2 class="text-left dark-text"><strong>ACCOMODATIONS</strong> </h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                        October is a great time to visit San Francisco.  It's considered our summer and when we get some of the necest days of the year.  Lodging can be difficult and expensive so please consider booking in advance. 
                    </p>
                    
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>