    <!-- =========================
     SECTION: BENEFITS   
    ============================== -->
    <section class="unique-features white-bg" id="section5">
        <div class="container">
            
            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    PROCESS
                </div>
                <h2 class="dark-text"><strong>Our energy saving programs are fast and effective</strong></h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    Start with a free consultation and finish with substantial monthly savings.
                </div>
            </div>
            
            <!-- FIRST ROW OF FEATURES -->
            <div class="row">
                <div class="col-md-4 wow fadeInRight" data-wow-duration="1.75s" data-wow-offset="20">
                    
                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Free consultation</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                In less than 30 minutes you’ll understand how our cost saving program works.
                            </p>
                        </div>
                    </div>
                    
                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Energy audit</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                A thorough analysis of your facility and a calculation of how much you can save.
                            </p>
                        </div>
                    </div>
                    
                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Product analysis</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                Analysis of products and rebates that can contribute to rapid cost reduction.
                            </p>
                        </div>
                    </div>
                </div>
                
                <!-- IPAD IMAGE -->
                <div class="col-md-4">
                    <div class="ipad-image wow bounceIn" data-wow-duration="1.75s" data-wow-offset="20">
                        <img src="/stampimg/be-ipad-low.jpg" alt="">
                    </div>
                </div>
                
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="1.75s" data-wow-offset="20">
                    
                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Financing options</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                We can arrange for zero-cost financing for equipment upgrades and installation.
                            </p>
                        </div>
                    </div>
                    
                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Project management</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                Our team handles end-to-end implementation of any energy savings program.
                            </p>
                        </div>
                    </div>
                    
                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Customer support</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                We provide ongoing support to ensure that your savings are effective and ongoing.
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>