    <!-- =========================
     SECTION: WEDDING AND CELEBRATION
    ============================== -->
    <section class="brief soma text-left" id="celebration">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 pull-right wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-right">
                        <%= image_tag "tracys_birthday.jpg" %>
                    </div>
                </div>
                
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section pull-left wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase white-text">
                        FALL 2013
                    </div>
                    <h2 class="text-left dark-text"><strong class="white-text">ENGAGEMENT - TY'S STORY:</strong></h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left white-text">
                        The date count increased one by one and quickly exceeded 100.   Ty had known from the very beginning that gorgeous intellectuals like Tracy don’t come twice and he decided to ask her to spend their lives together. <br>
                        <br>
                        Tracy already knew about the ring.  While trying to determine her taste, they realized that Tracy likes vintage art deco diamond dinner rings from the roaring 20s’.  DeBeers, the diamond company didn’t popularize the idea of the diamond ring until after WWII.  Art deco diamond dinner rings are few and far between and the antique jewelers that sell them have the worst return policies. So they picked the ring out together, in Manhattan. <br>
                        <br>
                        Ty decided to plan a trip as an engagement surprise.  After a bunch of trips planned halfway then scrapped due to the surprise logistics (Yosemite, Lake Tahoe, Santa Barbara),  he decided on a grand destination fit for the woman he loves, booked the hotels, and contacted her boss to secretly request the vacation time for her.<br>
                        <br>
                        Ty knew that Tracy was going to know what was happening as soon as she found out that she needed to pack bags to go on a surprise trip.   One last question remained, should they travel on the same flight?<br>
                        <br>
                        On one hand, if they were on the same flight, then the travel day would be lots of fun.  On the other, if Ty flew separately the surprise would be bigger.  Sure she would be going on an engagement trip, but she wouldn’t know where.<br>
                        <br>
                        Ty decided on separate flights.  While he was completing the purchase Tracy left a voicemail.  In the message she asked Ty to meet her at The View, a lounge in one of San Francisco’s tallest buildings with a fabulous panorama of the city.  “I will meet you there, it will be more romantic that way,” she said.  Ty smiled as he listened to it.   It provided a certain symmetry to the whole occasion that he would have to wait six months to tell anyone about…
                    </p>

                
            </div>
        </div>
    </section>