<!-- =========================
     SECTION: CALL TO ACTION   
    ============================== -->
    <section class="call-to-action" id="section11" data-stellar-background-ratio="0.1">
        <div class="overlay-layer-2">
            <div class="container">
                <div class="row">
                
                    <div class="col-md-8 col-md-offset-2">
                    
                        <div class="uppercase colored-text strong">
                            Contact us for a free consultation.
                        </div>
                    
                        <h2 class="white-text strong wow fadeInLeft" data-wow-duration="2s" data-wow-offset="40">Start using less energy and saving more money.</h2>
                        
                        <a href="#section3" class="btn btn-primary standard-button inpage-scroll">Get Started</a>
                        
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- REGISTRATION FORM FOR POPUP BOX -->
    <div class="modal fade bs-example-modal-sm" id="stamp-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="vertical-registration-form">
                    <h4 class="dark-text form-heading">Get 1 Month FREE Trial Now</h4>
                    <form class="registration-form" id="contact-form">
                        <input type="text" id="cf-name" name="name" class="form-control input-box" placeholder="Name">
                        <input type="email" id="cf-email" name="email" class="form-control input-box" placeholder="Email">
                        <input type="text" id="cf-subject" name="subject" class="form-control input-box" placeholder="Subject">
                        <textarea name="message" id="cf-message" class="form-control textarea-box" rows="4" placeholder="Message"></textarea>
                        <button class="btn btn-primary standard-button">Get Started</button>
                    </form>
                    <p class="email-success dark-text">
                        <span class="icon-check-alt2 colored-text"></span>Email sent seuccessfully
                    </p>
                    <p class="email-error dark-text">
                        <span class="icon-close-alt2"></span>Error! Please check all fields filled correctly
                    </p>
                    <!-- MAILCHIMP ALERTS 
			        <p class="mailchimp-success dark-text"><span class="icon-check-alt2 colored-text"></span>We sent the confirmation to your email</p>
			        <p class="mailchimp-error dark-text"><span class="icon-close-alt2"></span>Error! Please check all fields filled correctly</p>
			        -->
                </div>
            </div>
        </div>
    </div>
    

 