    <!-- =========================
     SECTION: CONTACT INFO  
    ============================== -->
    <div class="contact-info white-bg">
        <div class="container">
            
            <!-- CONTACT INFO -->
            <div class="row contact-links">
                
                <div class="col-sm-4">
                    <div class="icon-container">
                        <span class="icon-basic-mail colored-text"></span>
                    </div>
                    <a href="mailto:tracyntruong@gmail.com" class="strong">tracyntruong@gmail.com
                    </a>
                    <a href="mailto:ty.clark@bayefficiency.com" class="strong">ty.clark@bayefficiency.com
                    </a>
                </div>

                <div class="col-sm-4">
                    <div class="icon-container">
                        <span class="icon-basic-tablet colored-text"></span>
                    </div>
                    <a href="tel:1-510-512-8057" class="strong">
                    Tracy: 510.512.8057</a>
                    <a href="tel:1-415-730-2710" class="strong">
                    Ty: 415.730.2710</a>
                </div>

                <div class="col-sm-4">
                    <div class="icon-container">
                        <span class="icon-basic-geolocalize-01 colored-text"></span>
                    </div>
                    <a href="https://www.google.com/maps/place/Gallery+16/@37.7814014,-122.3954354,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x5e5008bbec38f8f7" class="strong" target="_blank">Reception location:<br>
                    Gallery16<br>
                    501 3rd Street<br>
                    San Francisco, CA  94107</a>
                </div>
                
            </div>
                
            
        </div>
    </div>