    <!-- =========================
     SECTION: CONTACT INFO  
    ============================== -->
    <div class="contact-info white-bg">
        <div class="container">
            
            <!-- CONTACT INFO -->
            <div class="row contact-links">
                
                <div class="col-sm-4">
                    <div class="icon-container">
                        <span class="icon-basic-mail colored-text"></span>
                    </div>
                    <a href="mailto:info@bayefficiency.com" class="strong">tracyntruong@gmail.com<br>
                    ty.clark@bayefficiency.com
                    </a>
                </div>

                <div class="col-sm-4">
                    <div class="icon-container">
                        <span class="icon-basic-tablet colored-text"></span>
                    </div>
                    <a href="tel:1-415-730-2710" class="strong">
                    Tracy: 510.512.8057<br>
                    Ty:    415.730.2710</a>
                </div>

                <div class="col-sm-4">
                    <div class="icon-container">
                        <span class="icon-basic-geolocalize-01 colored-text"></span>
                    </div>
                    <a href="" class="strong">Reception location:<br>
                    Gallery16<br>
                    501 3rd Street<br>
                    San Francisco, CA  94107</a>
                </div>
                
            </div>
                
            
        </div>
    </div>