    <!-- =========================
     SECTION: ABOUT
    ============================== -->
    <section class="brief text-left beauty_bar" id="first_met">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 pull-right wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-right">
                        <%= image_tag "brooklyn_bridge.jpg" %>
                    </div>
                </div>
                
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section pull-left wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        JUNE 4, 2011
                    </div>
                    <h2 class="text-left dark-text"><strong>WHEN THEY MET</strong></h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                        Tracy and Ty first met outside of Beauty Bar in the Mission late one night. Tracy was saying good-byes with some of her friends.  He was drunk and she was unimpressed. The conversation went something like this:<br>
                        <br>
                        Ty: “How is it going?”<br>
                        Tracy: “You’re drunk.”<br>
                        Ty: “It’s a beautiful night…[chit chat about where you are from and what you were up to this evening].”<br>
                        Tracy:  “We’re heading home now.”<br>
                        Ty:  “Well it was very nice to meet you.  Let me have your phone number and we can continue this conversation later.”<br>
                        Tracy: “No.”<br>
                        Ty:  “Ok, well let me walk you and your friends to the car then.”<br>
                        Tracy: “Ok, fine.”<br>
                        <br>
                        [More chitchat en route...then]<br>
                        <br>
                        Ty: “I think that we should talk on the phone sometime.  Give me your phone number and we can talk more sometime this week.”<br>
                        Tracy: “No.”<br>
                        <br>
                        [More chitchat … then we arrive at the car]<br>
                        <br>
                        Ty:  “How about you give me your phone number, when I call you, you don’t have to pick up.” <br>
                        Connie [Tracy’s friend chimes in]:  “If she doesn’t give you her phone number then I will give it to you.”<br>
                        Ty:  “See there is a reasonable girl.”<br>
                        Tracy:  “Ok fine.”<br>
                        <br>
                        *Thanks, Connie! Couldn’t have done it without you!<br>
                    </p>

                
            </div>
        </div>
    </section>