    <!-- =========================
     SECTION: BRIEF RIGHT
    ============================== -->
    <section class="brief grey-bg text-left" id="first_date">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-left">
                        <%= image_tag "justins_engagement.jpg" %>
                    </div>
                </div>
               
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        JUNE 16, 2011
                    </div>
                    <h2 class="text-left dark-text"><strong>FIRST DATE</strong> </h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                        Meandering walk through Chinatown & North Beach to dinner at Sotto Mare. A highlight of the evening: Ty tried to sell his band’s CD to Tracy. 
                    </p>
                    
                    <!-- FEATUR ACCORDION WITH ICON -->
<!--                     <div class="panel-group" id="accordion"> -->
                        
                        <!-- SINGLE ACORDIION -->
<!--                         <div class="panel panel-default"> -->
                            
                            <!-- ACORDIION HEADING / TITLE -->
<!--                             <div class="panel-heading" id="headingOne">
                                <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						<span class="icon-container color-bg"><span class="icon-map-alt white-text"></span></span><span class="title-text">Our software has been proven to deliver more savings.</span>
						</a>
						</h4>
                            </div> -->
                            
                            <!-- ACORDIION DESCRIPTION / TEXT -->
<!--                             <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    In side-by-side comparisons, Bay Efficiency identified 30% more savings than other generic auditing tools.
                                </div>
                            </div>
                        </div> -->
                        
                        <!-- SINGLE ACORDIION -->
<!--                         <div class="panel panel-default">
 -->                            
                            <!-- ACORDIION HEADING / TITLE -->
<!--                             <div class="panel-heading" id="headingTwo">
                                <h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<span class="icon-container color-bg"><span class="icon-compass-alt white-text"></span></span><span class="title-text">We are licensed engineers.</span>
						</a>
						</h4>
                            </div> -->
                            
                            <!-- ACORDIION DESCRIPTION / TEXT -->
<!--                             <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Most energy advisors don’t have credentials and follow generic formulas for auditing and installing new equipment.
                                </div>
                            </div>
                        </div> -->
                        
                        <!-- SINGLE ACORDIION -->
<!--                         <div class="panel panel-default"> -->
                            
                            <!-- ACORDIION HEADING / TITLE -->
<!--                             <div class="panel-heading" id="headingThree">
                                <h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						<span class="icon-container color-bg"><span class="icon-lightbulb-alt white-text"></span></span><span class="title-text">Our recommendations are comprehensive and accurate.</span>
						</a>
						</h4>
                            </div> -->
                            
                            <!-- ACORDIION DESCRIPTION / TEXT -->
<!--                             <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    We can predict the precise savings you will achieve and the short time to recover any investment in new equipment or systems.
                                </div>
                            </div> -->
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>