    <!-- =========================
     SECTION: ABOUT
    ============================== -->
    <section class="brief empire_state_building text-left" id="first_spring">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 pull-right wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-right">
                        <%= image_tag "empire_engagement.jpg" %>
                    </div>
                </div>
                
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section pull-left wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        March 20, 2014
                    </div>
                    <h2 class="text-left dark-text"><strong>FIRST DAY OF SPRING - TRACY'S STORY:</strong></h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                        Beverly (former roommate and best friend since the 6th grade) woke Tracy up at 7:15 am to show her an exciting email. It was a surprise adventure from Ty, complete with the following: detailed instructions, the weather report, packing guide, and an email exchange between Ty and Tracy's boss for 2 days of PTO*.<br>
                        <br>
                        At pick up time, Michael (thanks Michael!) provided Tracy with the first clue: a plane ticket to New York!!!! Excited about the trip, Tracy and Michael talked about Ty’s top notch surprise planning skills until their arrival at the airport.<br>
                        <br>
                        She then received her second clue and was advised to not open it until seated on the plane**! Half expecting Ty to pop out from some secret location Tracy boarded the plane and opened the second clue: cab fare and a note to head to the Roosevelt Hotel in NYC.<br>
                        <br>
                        Upon checking in at the hotel she discovered an empty room and another note from Ty: "You have made it this far. Thank you for coming all this way. You know where to find me now..." complete with a brochure and ticket to the Empire State Building!<br>
                        <br> 
                        10 hours, a false trail***, a plane ride, two time zone changes, and a really long security line at the empire state building later; Tracy finds Ty!<br>
                        <br>
                        He says a bunch of sweet, romantic things**** to Tracy and then gets down on one knee to propose. She accepts***** and they celebrate their engagement with an amazing weekend in New York!<br>
                        <br>
                        *Ty had been secretly planning this since November 2013.<br>
                        ** Unexpectedly flying alone on a 5+ hour flight?!? Thank goodness she brought her Kindle…<br>
                        *** As a result of Tracy's propensity for figuring out surprises, Ty tricked her into thinking they were headed to Lake Tahoe. He purposefully left a sliver of the location visible on the weather guide. She packed hiking clothes for nothing…<br>
                        **** Typical Ty<br>
                        ***** "Of course!!" were her words exactly.<br>


                    </p>
                
            </div>
        </div>
    </section>