    <!-- =========================
     SECTION: ABOUT
    ============================== -->
    <section class="brief white-bg-border text-left" id="section2">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 pull-right wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-right">
                        <%= image_tag "empire_engagement.jpg" %>
                    </div>
                </div>
                
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section pull-left wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        March 22, 2014
                    </div>
                    <h2 class="text-left dark-text"><strong>FIRST DAY OF SPRING!</strong></h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                        Bay Efficiency is located in San Francisco and has been providing energy audits and conservation advice to clients since 2010.  We specialize in working with any size business or property and have consistently delivered the highest quality service and savings to our clients.
                    </p>
                    
                    <!-- FEATURE LIST -->
<!--                     <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="feature-list text-left">
                                <li><span class="icon-lightbulb-alt colored-text"></span> Tech companies</li>
                                <li><span class="icon-lightbulb-alt colored-text"></span> Hotels</li>
                                <li><span class="icon-lightbulb-alt colored-text"></span> Office buildings</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul class="feature-list text-left">
                                <li><span class="icon-lightbulb-alt colored-text"></span> New construction</li>
                                <li><span class="icon-lightbulb-alt colored-text"></span> Retail</li>
                                <li><span class="icon-lightbulb-alt colored-text"></span> Restaurants</li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                
            </div>
        </div>
    </section>