    <!-- =========================
     SECTION: BRIEF RIGHT
    ============================== -->
    <section class="brief celebration text-left" id="got_married">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-left">
                        <%= image_tag "color_run.jpg" %>
                    </div>
                </div>
               
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase white-text">
                        OCTOBER 17, 2015
                    </div>
                    <h2 class="text-left dark-text"><strong class="white-text">THEY GET MARRIED</strong> </h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left white-text">
                        Saturday, October 17, 2015<br>
                        6:00 pm - 11:00 pm<br>
                        <br>
                        Gallery16<br>
                        501 3rd Street<br>
                        San Francisco, CA  94107
                    </p>
                    
                   
                    </div>
                    
                </div>
            </div>
        </div>
    </section>