    <!-- =========================
     SECTION: BRIEF RIGHT
    ============================== -->
    <section class="brief grey-bg text-left" id="got_married">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-left">
                        <%= image_tag "color_run.jpg" %>
                    </div>
                </div>
               
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        OCTOBER 17, 2015
                    </div>
                    <h2 class="text-left dark-text"><strong>THEY GET MARRIED!</strong> </h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                        Bay Efficiency has invested two years developing a software solution that quickly and accurately discovers the best way for each client to reduce energy costs.
                    </p>
                    
                   
                    </div>
                    
                </div>
            </div>
        </div>
    </section>