    <!-- =========================
     SECTION: HOME / HEADER  
    ============================== -->
    <header class="header" data-stellar-background-ratio="0.5" id="home">
        
        <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer">
            
            <!-- STICKY NAVIGATION -->
            <div class="navbar navbar-inverse bs-docs
            -nav navbar-fixed-top sticky-navigation appear-on-scroll" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        

                        
                        <!-- LOGO -->
<!--                         <a class="navbar-brand" href="#">
                            <img src="stampimg/be-logo-nav-1.01.png" alt="">
                        </a> -->
                        
                    </div>
                    
                    <!-- TOP BAR -->
                    <div class=" collapse" id="stamp-navigation">
                        
                        <!-- NAVIGATION LINK -->
                        <ul class="nav navbar-nav navbar-left main-navigation small-text">


                            <!-- <li><a href="http://example.com" class="external">External Link Example</a></li> -->
                        </ul>
                        

                    </div>
                    <!-- TOP BAR PART 2-->
                    <div class="" id="stamp-navigation">
                        <!-- LOGIN REGISTER -->
                        <ul class="nav navbar-nav navbar-right main-navigation small-text">


                            <li><a href="#section2">MR AND MRS IN THE MAKING</a>
                            </li>
                            <li><a href="#section3">WEDDING </a>
                            </li>
                            <li><a href="#section6">DETAILS</a>
                            </li>
                            <li><a href="#section7">RSVP</a>
                            </li>
                            

                        </ul>
                    </div>



                </div>
                <!-- /END CONTAINER -->
            </div>
            <!-- /END STICKY NAVIGATION -->
            
            <!-- CONTAINER -->
            <div class="container">
                

                
                <!-- /END ONLY LOGO ON HEADER -->
                <div class="row">
                    <div class="col-md-12">
                        
                        <!-- HEADING AND BUTTONS -->
                        <div class="intro-section">
                            <% start_date = DateTime.now %>
                            <% end_date =  Date.parse "2015-10-17 14:46:21 +0800" %>
                            
                            <!-- WELCOM MESSAGE -->
                            <h1 class = "white-text">TRACY AND TY</h1>
                            <h1 class="intro white-text" style="font-size: 1.9rem;">October 17, 2015</h1>
                            <h3 class="white-text"><%= (end_date-start_date).to_i %> days to go!</h3>
                            <h3 class="white-text">#mrandmrscluong </h3>


                            

                           
                            
                        </div>
                        <!-- /END HEADNING AND BUTTONS -->
                    </div>
                </div>
            </div>
        </div>
    </header>