    <!-- =========================
     SECTION: HOME / HEADER  
    ============================== -->
    <header class="header" data-stellar-background-ratio="0.5" id="home">
        
        <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer">
            
            <!-- STICKY NAVIGATION -->
            <div class="navbar navbar-inverse bs-docs
            -nav navbar-fixed-top sticky-navigation appear-on-scroll" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        

                        
                        <!-- LOGO -->
<!--                         <a class="navbar-brand" href="#">
                            <%= image_tag "inverse_colors.jpg" %>
                        </a> -->
                        
                    </div>
                    
                    <!-- TOP BAR -->
                    <div class=" collapse" id="stamp-navigation">
                        
                        <!-- NAVIGATION LINK -->
                        <ul class="nav navbar-nav navbar-left main-navigation small-text">


                            <!-- <li><a href="http://example.com" class="external">External Link Example</a></li> -->
                        </ul>
                        

                    </div>
                    <!-- TOP BAR PART 2-->
                    <div class="" id="stamp-navigation">
                        <!-- LOGIN REGISTER -->
                        <ul class="nav navbar-nav navbar-right main-navigation small-text">


                            <li><a href="#first_met">MR AND MRS IN THE MAKING</a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WEDDING<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li style="padding=10px;"><a href="#celebration">RECEPTION CELEBRATION</a></li>
                                <li><a href="#parking">PARKING</a></li>
                              </ul>
                            </li>
                            <li><a href="#rsvp">RSVP</a>
                            </li>

                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DETAILS<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#rehearsal">“REHEARSAL” DINNER</a></li>
                                <li><a href="#accomodations">ACCOMODATIONS</a></li>
                                <li><a href="#registry">REGISTRY</a></li>
                              </ul>
                            </li>



                        </ul>
                    </div>



                </div>
                <!-- /END CONTAINER -->
            </div>
            <!-- /END STICKY NAVIGATION -->
            
            <!-- CONTAINER -->
            <div class="container">
                

                
                <!-- /END ONLY LOGO ON HEADER -->
                <div class="row">
                    <div class="col-md-12">
                        
                        <!-- HEADING AND BUTTONS -->
                        <div class="intro-section">
                            <% start_date = DateTime.now %>
                            <% end_date =  Date.parse "2015-10-17 14:46:21 +0800" %>
                            
                            <!-- WELCOM MESSAGE -->
                            <h1 class = "white-text" style="font-size:72px;">TRACY AND TY</h1>
                            <h1 class="intro white-text" style="font-size:36px;">October 17, 2015</h1>
                            <h2 class="white-text"><%= (end_date-start_date).to_i %> days to go!</h2>
                            <h2 class="white-text">#mrandmrscluong </h2>


                            

                           
                            
                        </div>
                        <!-- /END HEADNING AND BUTTONS -->
                    </div>
                </div>
            </div>
        </div>
    </header>