    <!-- =========================
     SECTION: HOME / HEADER  
    ============================== -->
    <header class="header" data-stellar-background-ratio="0.5" id="home">
        
        <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer">
            
            <!-- STICKY NAVIGATION -->
            <div class="navbar navbar-inverse bs-docs
            -nav navbar-fixed-top sticky-navigation appear-on-scroll" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        

                        
                        <!-- LOGO -->
                        <a class="navbar-brand" href="#">
                            <img src="stampimg/be-logo-nav-1.01.png" alt="">
                        </a>
                        
                    </div>
                    
                    <!-- TOP BAR -->
                    <div class=" collapse" id="stamp-navigation">
                        
                        <!-- NAVIGATION LINK -->
                        <ul class="nav navbar-nav navbar-left main-navigation small-text">

                            <li><a href="#section2">About</a>
                            </li>
                            <li><a href="#section3">Get Started </a>
                            </li>
                            <li><a href="#section6">Case Study</a>
                            </li>
                            <li><a href="#section7">Testimonials</a>
                            </li>
                            <!-- <li><a href="http://example.com" class="external">External Link Example</a></li> -->
                        </ul>
                        

                    </div>
                    <!-- TOP BAR PART 2-->
                    <div class="" id="stamp-navigation">
                        <!-- LOGIN REGISTER -->
                        <ul class="nav navbar-nav navbar-right main-navigation small-text">
                           <li><a href="tel:1-415-730-2710" style="font-size:14px" >Call <strong style="font-size:24px"> 1-415-730-2710 </strong> 8am-8pm</a>
                            </li>
                            

                        </ul>
                    </div>



                </div>
                <!-- /END CONTAINER -->
            </div>
            <!-- /END STICKY NAVIGATION -->
            
            <!-- CONTAINER -->
            <div class="container">
                
                <!-- ONLY LOGO ON HEADER -->
                <div class="only-logo">
                    <div class="navbar">
                        <div class="navbar-header">
                            <img src="/stampimg/be-logo-2.png" alt="">
                        </div>
                    </div>
                </div>
                
                <!-- /END ONLY LOGO ON HEADER -->
                <div class="row">
                    <div class="col-md-12">
                        
                        <!-- HEADING AND BUTTONS -->
                        <div class="intro-section">
                            
                            <!-- WELCOM MESSAGE -->
                            <h3 class="intro white-text" style="font-size: 1.9rem;">Introducing Mr. and Mrs. Cluong</h3>
                            <h5 class="white-text">Wedding on October 17th 2015</h5>
                            
                            <!-- BUTTON -->
                            <div class="button">
                                <a href="#section3" class="btn btn-primary standard-button inpage-scroll">Get Started</a>
                            </div>
                           
                            <!-- /END BUTTON -->
                            
                        </div>
                        <!-- /END HEADNING AND BUTTONS -->
                    </div>
                </div>
            </div>
        </div>
    </header>