    <!-- =========================
     SECTION: BRIEF RIGHT
    ============================== -->
    <section class="brief parking text-left" id="parking">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-left">
                        <%= image_tag "london_bus.jpg" %>
                    </div>
                </div>
               
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        IF YOU'RE DRIVING
                    </div>
                    <h2 class="text-left dark-text"><strong>PARKING</strong> </h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                    Tower Valet Parking, Inc<br>
                    424 Brannan Street<br>
                    San Francisco, CA 94107<br>
                    $10 up to 10 hrs, after 10 hrs $24
                    </p>
                    <p>
                    Liberty Park Management, Inc.<br>
                    Parking Lot<br>
                    Attendant leaves at 7:00pm.<br>
                    400 3rd Street<br>
                    San Francisco, CA 94107<br>
                    $15<br>
                    </p>
                    <p>
                    ABM Parking Services<br>
                    Parking Lot<br>
                    395 3rd Street<br>
                    San Francisco, CA 94107<br>
                    Mon-Sun 24 hours<br>
                    12 Hours
                    </p>
                    
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>