    <!-- =========================
     SECTION: BRIEF RIGHT
    ============================== -->
    <section class="brief grey-bg text-left" id="first_date">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-left">
                        <%= image_tag "london_bus.jpg" %>
                    </div>
                </div>
               
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        IF YOU'RE DRIVING
                    </div>
                    <h2 class="text-left dark-text"><strong>PARKING</strong> </h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                    Details, details...
                    </p>
                    
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>