    <!-- =========================
     SECTION: REGISTRY
    ============================== -->
    <section class="brief registry text-left" id="registry">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 pull-right wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-right">
                        <%= image_tag "shoreline_tracy.jpg" %>
                    </div>
                </div>
                
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section pull-left wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase white-text">
                        IT'S EASY
                    </div>
                    <h2 class="text-left dark-text"><strong class = "white-text">REGISTRY</strong></h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left white-text">
                        Your presence at our wedding is a gift in itself and we are so happy that you can share this celebration with us.  But if you wish to give an additional gift, a contribution towards our 2016 honeymoon would be greatly appreciated.<br>
                        Help us decide where to go!<br>
                        Croatia<br> 
                        Greece<br>
                    </p>

                
            </div>
        </div>
    </section>