    <!-- =========================
     SECTION: ABOUT
    ============================== -->
    <section class="brief rehearsal text-left" id="rehearsal">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 pull-right wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-right">
                        <%= image_tag "shoreline_ty_2.jpg" %>
                    </div>
                </div>
                
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section pull-left wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase white-text">
                        COME HANG
                    </div>
                    <h2 class="text-left dark-text"><strong class="white-text">"REHEARSAL" DINNER</strong></h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left white-text">
                        If you're around come hang out with us and some food trucks!<br><br>
                        Friday, October 16, 2015 @ 7 pm<br>
                        SoMa StrEat Food Park<br>
                        428 11th Street<br>
                        San Francisco, CA 94103
                    </p>

                
            </div>
        </div>
    </section>