<!-- =========================
     SECTION: CALL TO ACTION   
    ============================== -->
    <section class="call-to-action" id="rsvp" data-stellar-background-ratio="0.1">
        <div class="grey-bg rsvp">
            <div class="container">
                <div class="row">
                
                    <div class="col-md-8 col-md-offset-2">
                    
                        <div class="uppercase colored-text strong">
                            Please RSVP
                        </div>
                    
                        <h2 class="dark-text strong wow fadeInLeft" data-wow-duration="2s" data-wow-offset="40">We hope you can make it!</h2>
                        
                        <%= link_to 'Click link to RSVP Now', families_path, class: "btn btn-primary standard-button inpage-scroll" %>

                    </div>
                
                </div>
            </div>
        </div>
    </section>




