    <!-- =========================
     SECTION: SERVICES
    ============================== -->
    <section class="services" id="section1">
                <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer-3">
            <div class="container">
                
                <!-- SECTION HEADER -->
                <div class="section-header">
                    
                    <div class="small-text-medium uppercase colored-text">
                        CLIENTS
                    </div>
                    <h2 class="dark-text"><strong>Our software calculates more savings in less time.</strong> </h2>
                    <div class="colored-line">
                    </div>
                    <h3 class="sub-heading">
                        Other energy consultants use educated guesses - we use proven algorithms. 
                    </h3>
                </div>
                
                <div class="row">
                    
                    <!-- SINGLE SERVICE -->
                    <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="single-service border-bottom-hover">

                            <h3 class="colored-text">Tenants</h3>
                            <p>
                                Slash your energy bills and <br>
                                make your workspace more <br>
                                comfortable and <br>
                                easier to maintain.<br>
                                Comfort enhancing upgrades. 
                            </p>
                        </div>
                    </div>
                    
                    <!-- SINGLE SERVICE -->
                    <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                        <div class="single-service border-bottom-hover">

                            <h3 class="colored-text">Building Owners</h3>
                            <p>
                                Upgrade your building with <br>
                                no out-of-pocket expense—<br>
                                even if tenants pay their own <br>
                                utility bills.  Capital upgrades with <br>
                                no money out of pocket. <br>
                            </p>
                        </div>
                    </div>
                    
                    <!-- SINGLE SERVICE -->
                    <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="single-service border-bottom-hover">

                            <h3 class="colored-text">Property Managers</h3>
                            <p>
                                Reduce maintenance costs, <br>
                                fix deferred maintenance, <br>
                                and lower energy costs for <br>
                                your property clients.<br>
                                <br>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>