    <!-- =========================
     SECTION: SOME STATS   
    ============================== -->
    <section class="stats" data-stellar-background-ratio="0.5">
        <div class="overlay-layer-2">
            <div class="container">
                <div class="row no-gutters">
                    
                    <!-- SINGLE COLUMN WITH ICON -->
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">

                        <h2 class="white-text">150%</h2>
                        <h3 class="uppercase transparent-text">
                            MORE SAVINGS
                        </h3>
                    </div>
                    
                     <!-- SINGLE COLUMN WITH ICON -->
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats border-left-colored border-right-colored wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">

                        <h2 class="white-text">95%</h2>
                        <h3 class="uppercase transparent-text">
                            LESS UPFRONT COST
                        </h3>
                    </div>
                    
                     <!-- SINGLE COLUMN WITH ICON -->
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">

                        <h2 class="white-text">100%</h2>
                        <h3 class="uppercase transparent-text">
                            FREE CONSULTATION
                        </h3>
                    </div>
                </div>
                
                 <!-- CALL TO ACTION -->
                <div class="stats-footer">
                    <div class="long-transparent-line">
                    </div>

                </div>
                
            </div>
        </div>
    </section>
    