

    <!-- =========================
     SECTION: TIMELINE   
    ============================== -->
    
    <section class="timeline" id="section6">
        <!-- COLOR OVER IMAGE -->
        <div class="brief overlay-layer-3">

            <div class="container">
                
                <div class="row">
                    
                    <!-- TIMELINE HEADING / TEXT  -->
                    <div class="col-md-6 timeline-text text-left wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                        <div class="small-text-medium uppercase colored-text text-left">
                            Case Study
                        </div>
                        <h2 class="text-left dark-text"><strong>BAY EFFICIENCY </strong> CASE STUDY</h2>
                        <div class="colored-line-left">
                        </div>
                        <p>
                            One of our clients is a leading software startup building in downtown San Francisco that approached us to make their large office space more comfortable for their ~80 occupants —and more efficient for their bottom line. 
                            <br/>
                            <br/>Our team did a detailed analysis of the leased property and concluded that they could save $12,000 per year in energy costs and that the building owner could implement a hardware upgrade for no cost due to rebates and other incentives. 
                            <br/>
                            <br/>Bay Efficiency completed a retrofit of light bulbs, thermostats and select HVAC components and had reduced monthly expenses by almost $1,000.
                        </p>
                    </div>
                    
                    <!-- TIMLEINE SCROLLER -->
                    <div class="col-md-6 timeline-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                        <ul class="vertical-timeline" id="timeline-scroll">
                            
                            <!-- SINGLE TIMELINE -->
                            <li>
                                <div class="date small-text colored-text strong">
                                    Week<br>
                                    1-2
                                </div>
                                <div class="icon-container color-bg white-text">
                                    <span class="icon-ribbon-alt"></span>
                                </div>
                                <div class="info">
                                    On site meeting with company executives and property manager.
                                </div>
                            </li>
                            
                            <!-- SINGLE TIMELINE -->
                            <li>
                                <div class="date small-text dark-text strong">
                                    Week<br>
                                    3-4
                                </div>
                                <div class="icon-container color-bg white-text">
                                    <span class="icon-piechart"></span>
                                </div>
                                <div class="info">
                                    Energy audit completed, rebate programs proposed, one year ROI calculated.
                                </div>
                            </li>
                            
                            <!-- SINGLE TIMELINE -->
                            <li>
                                <div class="date small-text dark-text strong">
                                    Week<br>
                                    5-6
                                </div>
                                <div class="icon-container color-bg white-text">
                                    <span class="icon-cart-alt"></span>
                                </div>
                                <div class="info">
                                    Our licensed contractors installed new technologies and fine-tuned energy systems.
                                </div>
                            </li>
                            
                            <!-- SINGLE TIMELINE -->
                            <li>
                                <div class="date small-text dark-text strong">
                                    Week<br>
                                    7-8
                                </div>
                                <div class="icon-container color-bg white-text">
                                    <span class="icon-paperclip"></span>
                                </div>
                                <div class="info">
                                    Projected completed and first savings recognized.
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>