<!doctype html>
<html lang="en">


<body>
    
    <!-- =========================
     PRE LOADER       
    ============================== -->
    <div class="preloader">
        <div class="status">
            &nbsp;
        </div>
    </div>
    
    <!-- =========================
     SECTION: HOME / HEADER  
    ============================== -->
    <header class="header" data-stellar-background-ratio="0.5" id="home">
        
        <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer">
            
            <!-- STICKY NAVIGATION -->
            <div class="navbar navbar-inverse bs-docs
            -nav navbar-fixed-top sticky-navigation appear-on-scroll" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        

                        
                        <!-- LOGO -->
                        <a class="navbar-brand" href="#">
                            <img src="stampimg/be-logo-nav-1.01.png" alt="">
                        </a>
                        
                    </div>
                    
                    <!-- TOP BAR -->
                    <div class=" collapse" id="stamp-navigation">
                        
                        <!-- NAVIGATION LINK -->
                        <ul class="nav navbar-nav navbar-left main-navigation small-text">

                            <li><a href="#section2">About</a>
                            </li>
                            <li><a href="#section3">Get Started </a>
                            </li>
                            <li><a href="#section6">Case Study</a>
                            </li>
                            <li><a href="#section7">Testimonials</a>
                            </li>
                            <!-- <li><a href="http://example.com" class="external">External Link Example</a></li> -->
                        </ul>
                        

                    </div>
                    <!-- TOP BAR PART 2-->
                    <div class="" id="stamp-navigation">
                        <!-- LOGIN REGISTER -->
                        <ul class="nav navbar-nav navbar-right main-navigation small-text">
                           <li><a href="tel:1-415-730-2710" style="font-size:14px" >Call <strong style="font-size:24px"> 1-415-730-2710 </strong> 8am-8pm</a>
                            </li>
                            

                        </ul>
                    </div>



                </div>
                <!-- /END CONTAINER -->
            </div>
            <!-- /END STICKY NAVIGATION -->
            
            <!-- CONTAINER -->
            <div class="container">
                
                <!-- ONLY LOGO ON HEADER -->
                <div class="only-logo">
                    <div class="navbar">
                        <div class="navbar-header">
                            <img src="/stampimg/be-logo-2.png" alt="">
                        </div>
                    </div>
                </div>
                
                <!-- /END ONLY LOGO ON HEADER -->
                <div class="row">
                    <div class="col-md-12">
                        
                        <!-- HEADING AND BUTTONS -->
                        <div class="intro-section">
                            
                            <!-- WELCOM MESSAGE -->
                            <h3 class="intro white-text" style="font-size: 1.9rem;">Introducing Mr. and Mrs. Cluong</h3>
                            <h5 class="white-text">Wedding on October 17th 2015</h5>
                            
                            <!-- BUTTON -->
                            <div class="button">
                                <a href="#section3" class="btn btn-primary standard-button inpage-scroll">Get Started</a>
                            </div>
                           
                            <!-- /END BUTTON -->
                            
                        </div>
                        <!-- /END HEADNING AND BUTTONS -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- =========================
     SECTION: CLIENTS LOGOs
    ============================== -->
    <div class="clients white-bg">
        <ul class="client-logos">
            <li>
                <img src="/stampimg/companies/wyndham-low.jpg" alt="">
            </li>
            <li>
                <img src="/stampimg/companies/cbre-low.jpg" alt="">
            </li>
            <li>
                <img src="/stampimg/companies/walgreens-low.jpg" alt="">
            </li>
            <li>
                <img src="/stampimg/companies/candc-low.jpg" alt="">
            </li>
            <li>
                <img src="/stampimg/companies/joie-low.jpg" alt="">
            </li>
            <li>
                <img src="/stampimg/companies/emcor-low.jpg" alt="">
            </li>
        </ul>
    </div>
    
    <!-- =========================
     SECTION: SERVICES
    ============================== -->
    <section class="services" id="section1">
                <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer-3">
            <div class="container">
                
                <!-- SECTION HEADER -->
                <div class="section-header">
                    
                    <div class="small-text-medium uppercase colored-text">
                        CLIENTS
                    </div>
                    <h2 class="dark-text"><strong>Our software calculates more savings in less time.</strong> </h2>
                    <div class="colored-line">
                    </div>
                    <h3 class="sub-heading">
                        Other energy consultants use educated guesses - we use proven algorithms. 
                    </h3>
                </div>
                
                <div class="row">
                    
                    <!-- SINGLE SERVICE -->
                    <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="single-service border-bottom-hover">

                            <h3 class="colored-text">Tenants</h3>
                            <p>
                                Slash your energy bills and <br>
                                make your workspace more <br>
                                comfortable and <br>
                                easier to maintain.<br>
                                Comfort enhancing upgrades. 
                            </p>
                        </div>
                    </div>
                    
                    <!-- SINGLE SERVICE -->
                    <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                        <div class="single-service border-bottom-hover">

                            <h3 class="colored-text">Building Owners</h3>
                            <p>
                                Upgrade your building with <br>
                                no out-of-pocket expense—<br>
                                even if tenants pay their own <br>
                                utility bills.  Capital upgrades with <br>
                                no money out of pocket. <br>
                            </p>
                        </div>
                    </div>
                    
                    <!-- SINGLE SERVICE -->
                    <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="single-service border-bottom-hover">

                            <h3 class="colored-text">Property Managers</h3>
                            <p>
                                Reduce maintenance costs, <br>
                                fix deferred maintenance, <br>
                                and lower energy costs for <br>
                                your property clients.<br>
                                <br>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    <!-- =========================
     SECTION: BRIEF LEFT
    ============================== -->
    <section class="brief white-bg-border text-left" id="section2">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 pull-right wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-right">
                        <img src="/stampimg/be-about-us-2.0-low.jpg" alt="">
                    </div>
                </div>
                
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section pull-left wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        About
                    </div>
                    <h2 class="text-left dark-text"><strong>We’re experts in keeping the Bay Area energy efficient.</strong></h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                        Bay Efficiency is located in San Francisco and has been providing energy audits and conservation advice to clients since 2010.  We specialize in working with any size business or property and have consistently delivered the highest quality service and savings to our clients.
                    </p>
                    
                    <!-- FEATURE LIST -->
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="feature-list text-left">
                                <li><span class="icon-lightbulb-alt colored-text"></span> Tech companies</li>
                                <li><span class="icon-lightbulb-alt colored-text"></span> Hotels</li>
                                <li><span class="icon-lightbulb-alt colored-text"></span> Office buildings</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul class="feature-list text-left">
                                <li><span class="icon-lightbulb-alt colored-text"></span> New construction</li>
                                <li><span class="icon-lightbulb-alt colored-text"></span> Retail</li>
                                <li><span class="icon-lightbulb-alt colored-text"></span> Restaurants</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <!-- =========================
     SECTION: CONTACT FORM
    ============================== -->

<section class="leads" id="section3">
    <!-- SECTION HEADER -->
    <div class = "container brief leads">
         
    </div>
</section>

    <!-- =========================
     SECTION: BRIEF RIGHT
    ============================== -->
    <section class="brief grey-bg text-left" id="section4">
        <div class="container">
            <div class="row">
                
                <!-- BRIEF IMAGE -->
                <div class="col-md-6 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-left">
                        <img src="/stampimg/be-mockup2-low.jpg" alt="" style="padding-top: 39px;">
                    </div>
                </div>
               
                <!-- BRIEF HEADING -->
                <div class="col-md-6 content-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        TECHNOLOGY
                    </div>
                    <h2 class="text-left dark-text"><strong>Our Software is Our Secret</strong> </h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                        Bay Efficiency has invested two years developing a software solution that quickly and accurately discovers the best way for each client to reduce energy costs.
                    </p>
                    
                    <!-- FEATUR ACCORDION WITH ICON -->
                    <div class="panel-group" id="accordion">
                        
                        <!-- SINGLE ACORDIION -->
                        <div class="panel panel-default">
                            
                            <!-- ACORDIION HEADING / TITLE -->
                            <div class="panel-heading" id="headingOne">
                                <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						<span class="icon-container color-bg"><span class="icon-map-alt white-text"></span></span><span class="title-text">Our software has been proven to deliver more savings.</span>
						</a>
						</h4>
                            </div>
                            
                            <!-- ACORDIION DESCRIPTION / TEXT -->
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    In side-by-side comparisons, Bay Efficiency identified 30% more savings than other generic auditing tools.
                                </div>
                            </div>
                        </div>
                        
                        <!-- SINGLE ACORDIION -->
                        <div class="panel panel-default">
                            
                            <!-- ACORDIION HEADING / TITLE -->
                            <div class="panel-heading" id="headingTwo">
                                <h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<span class="icon-container color-bg"><span class="icon-compass-alt white-text"></span></span><span class="title-text">We are licensed engineers.</span>
						</a>
						</h4>
                            </div>
                            
                            <!-- ACORDIION DESCRIPTION / TEXT -->
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Most energy advisors don’t have credentials and follow generic formulas for auditing and installing new equipment.
                                </div>
                            </div>
                        </div>
                        
                        <!-- SINGLE ACORDIION -->
                        <div class="panel panel-default">
                            
                            <!-- ACORDIION HEADING / TITLE -->
                            <div class="panel-heading" id="headingThree">
                                <h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						<span class="icon-container color-bg"><span class="icon-lightbulb-alt white-text"></span></span><span class="title-text">Our recommendations are comprehensive and accurate.</span>
						</a>
						</h4>
                            </div>
                            
                            <!-- ACORDIION DESCRIPTION / TEXT -->
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    We can predict the precise savings you will achieve and the short time to recover any investment in new equipment or systems.
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    <!-- =========================
     SECTION: SOME STATS   
    ============================== -->
    <section class="stats" data-stellar-background-ratio="0.5">
        <div class="overlay-layer-2">
            <div class="container">
                <div class="row no-gutters">
                    
                    <!-- SINGLE COLUMN WITH ICON -->
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">

                        <h2 class="white-text">150%</h2>
                        <h3 class="uppercase transparent-text">
                            MORE SAVINGS
                        </h3>
                    </div>
                    
                     <!-- SINGLE COLUMN WITH ICON -->
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats border-left-colored border-right-colored wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">

                        <h2 class="white-text">95%</h2>
                        <h3 class="uppercase transparent-text">
                            LESS UPFRONT COST
                        </h3>
                    </div>
                    
                     <!-- SINGLE COLUMN WITH ICON -->
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">

                        <h2 class="white-text">100%</h2>
                        <h3 class="uppercase transparent-text">
                            FREE CONSULTATION
                        </h3>
                    </div>
                </div>
                
                 <!-- CALL TO ACTION -->
                <div class="stats-footer">
                    <div class="long-transparent-line">
                    </div>

                </div>
                
            </div>
        </div>
    </section>
    
    <!-- =========================
     SECTION: BENEFITS   
    ============================== -->
    <section class="unique-features white-bg" id="section5">
        <div class="container">
            
            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    PROCESS
                </div>
                <h2 class="dark-text"><strong>Our energy saving programs are fast and effective</strong></h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    Start with a free consultation and finish with substantial monthly savings.
                </div>
            </div>
            
            <!-- FIRST ROW OF FEATURES -->
            <div class="row">
                <div class="col-md-4 wow fadeInRight" data-wow-duration="1.75s" data-wow-offset="20">
                    
                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Free consultation</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                In less than 30 minutes you’ll understand how our cost saving program works.
                            </p>
                        </div>
                    </div>
                    
                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Energy audit</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                A thorough analysis of your facility and a calculation of how much you can save.
                            </p>
                        </div>
                    </div>
                    
                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Product analysis</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                Analysis of products and rebates that can contribute to rapid cost reduction.
                            </p>
                        </div>
                    </div>
                </div>
                
                <!-- IPAD IMAGE -->
                <div class="col-md-4">
                    <div class="ipad-image wow bounceIn" data-wow-duration="1.75s" data-wow-offset="20">
                        <img src="/stampimg/be-ipad-low.jpg" alt="">
                    </div>
                </div>
                
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="1.75s" data-wow-offset="20">
                    
                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Financing options</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                We can arrange for zero-cost financing for equipment upgrades and installation.
                            </p>
                        </div>
                    </div>
                    
                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Project management</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                Our team handles end-to-end implementation of any energy savings program.
                            </p>
                        </div>
                    </div>
                    
                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="icon-star-alt colored-text"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Customer support</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                We provide ongoing support to ensure that your savings are effective and ongoing.
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    

    <!-- =========================
     SECTION: TIMELINE   
    ============================== -->
    
    <section class="timeline" id="section6">
        <!-- COLOR OVER IMAGE -->
        <div class="brief overlay-layer-3">

            <div class="container">
                
                <div class="row">
                    
                    <!-- TIMELINE HEADING / TEXT  -->
                    <div class="col-md-6 timeline-text text-left wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                        <div class="small-text-medium uppercase colored-text text-left">
                            Case Study
                        </div>
                        <h2 class="text-left dark-text"><strong>BAY EFFICIENCY </strong> CASE STUDY</h2>
                        <div class="colored-line-left">
                        </div>
                        <p>
                            One of our clients is a leading software startup building in downtown San Francisco that approached us to make their large office space more comfortable for their ~80 occupants —and more efficient for their bottom line. 
                            <br/>
                            <br/>Our team did a detailed analysis of the leased property and concluded that they could save $12,000 per year in energy costs and that the building owner could implement a hardware upgrade for no cost due to rebates and other incentives. 
                            <br/>
                            <br/>Bay Efficiency completed a retrofit of light bulbs, thermostats and select HVAC components and had reduced monthly expenses by almost $1,000.
                        </p>
                    </div>
                    
                    <!-- TIMLEINE SCROLLER -->
                    <div class="col-md-6 timeline-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                        <ul class="vertical-timeline" id="timeline-scroll">
                            
                            <!-- SINGLE TIMELINE -->
                            <li>
                                <div class="date small-text colored-text strong">
                                    Week<br>
                                    1-2
                                </div>
                                <div class="icon-container color-bg white-text">
                                    <span class="icon-ribbon-alt"></span>
                                </div>
                                <div class="info">
                                    On site meeting with company executives and property manager.
                                </div>
                            </li>
                            
                            <!-- SINGLE TIMELINE -->
                            <li>
                                <div class="date small-text dark-text strong">
                                    Week<br>
                                    3-4
                                </div>
                                <div class="icon-container color-bg white-text">
                                    <span class="icon-piechart"></span>
                                </div>
                                <div class="info">
                                    Energy audit completed, rebate programs proposed, one year ROI calculated.
                                </div>
                            </li>
                            
                            <!-- SINGLE TIMELINE -->
                            <li>
                                <div class="date small-text dark-text strong">
                                    Week<br>
                                    5-6
                                </div>
                                <div class="icon-container color-bg white-text">
                                    <span class="icon-cart-alt"></span>
                                </div>
                                <div class="info">
                                    Our licensed contractors installed new technologies and fine-tuned energy systems.
                                </div>
                            </li>
                            
                            <!-- SINGLE TIMELINE -->
                            <li>
                                <div class="date small-text dark-text strong">
                                    Week<br>
                                    7-8
                                </div>
                                <div class="icon-container color-bg white-text">
                                    <span class="icon-paperclip"></span>
                                </div>
                                <div class="info">
                                    Projected completed and first savings recognized.
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- =========================
     SECTION: TESTIMONIALS   
    ============================== -->
    <section class="testimonials white-bg" id="section7">
        <div class="container">
            
            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    Testimonials
                </div>
                <h2 class="dark-text"><strong>Happy</strong> Customers</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    Bay Efficiency helps its customers save money
                </div>
            </div>
            
            <div class="row no-gutters">
                
                <!-- SINGLE FEEDBACK -->
                <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="feedback">
                        <p class="colored-text">
                            "Bay Efficiency saved us almost $75K over 3 years."
                        </p>
                        <h5 class="small-text">- J.C. Baudoux</h5>
                        <div class="small-text">
                            Building owner
                        </div>
                    </div>
                </div>
                
                <!-- SINGLE FEEDBACK -->
                <div class="col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="feedback border-left border-right">
                        <p class = "colored-text">
                            "I have seen different types of energy audit reports and yours is head and shoulders over the competition."
                        </p>
                        <h5 class="small-text">- Adhamina Rodriguez</h5>
                        <div class="small-text">
                            Director of Sustainability and Energy Retrofits | Swinerton Builders
                        </div>
                    </div>
                </div>
                
                <!-- SINGLE FEEDBACK -->
                <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                    <div id="feedback">
                        <div class="feedback">

                            <p class="colored-text">
                                “The new lighting makes a world of difference.”
                            </p>
                            <h5 class="small-text">- Tianna Meza</h5>
                            <div class="small-text">
                                Office manager | Rubicon Project
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
    <!-- =========================
     SECTION: CALL TO ACTION   
    ============================== -->
    <section class="call-to-action" id="section11" data-stellar-background-ratio="0.1">
        <div class="overlay-layer-2">
            <div class="container">
                <div class="row">
                
                    <div class="col-md-8 col-md-offset-2">
                    
                        <div class="uppercase colored-text strong">
                            Contact us for a free consultation.
                        </div>
                    
                        <h2 class="white-text strong wow fadeInLeft" data-wow-duration="2s" data-wow-offset="40">Start using less energy and saving more money.</h2>
                        
                        <a href="#section3" class="btn btn-primary standard-button inpage-scroll">Get Started</a>
                        
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- REGISTRATION FORM FOR POPUP BOX -->
    <div class="modal fade bs-example-modal-sm" id="stamp-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="vertical-registration-form">
                    <h4 class="dark-text form-heading">Get 1 Month FREE Trial Now</h4>
                    <form class="registration-form" id="contact-form">
                        <input type="text" id="cf-name" name="name" class="form-control input-box" placeholder="Name">
                        <input type="email" id="cf-email" name="email" class="form-control input-box" placeholder="Email">
                        <input type="text" id="cf-subject" name="subject" class="form-control input-box" placeholder="Subject">
                        <textarea name="message" id="cf-message" class="form-control textarea-box" rows="4" placeholder="Message"></textarea>
                        <button class="btn btn-primary standard-button">Get Started</button>
                    </form>
                    <p class="email-success dark-text">
                        <span class="icon-check-alt2 colored-text"></span>Email sent seuccessfully
                    </p>
                    <p class="email-error dark-text">
                        <span class="icon-close-alt2"></span>Error! Please check all fields filled correctly
                    </p>
                    <!-- MAILCHIMP ALERTS 
			        <p class="mailchimp-success dark-text"><span class="icon-check-alt2 colored-text"></span>We sent the confirmation to your email</p>
			        <p class="mailchimp-error dark-text"><span class="icon-close-alt2"></span>Error! Please check all fields filled correctly</p>
			        -->
                </div>
            </div>
        </div>
    </div>
    
    <!-- =========================
     SECTION: CONTACT INFO  
    ============================== -->
    <div class="contact-info white-bg">
        <div class="container">
            
            <!-- CONTACT INFO -->
            <div class="row contact-links">
                
                <div class="col-sm-4">
                    <div class="icon-container">
                        <span class="icon-basic-mail colored-text"></span>
                    </div>
                    <a href="mailto:info@bayefficiency.com" class="strong">info@bayefficiency.com</a>
                </div>

                <div class="col-sm-4">
                    <div class="icon-container">
                        <span class="icon-basic-tablet colored-text"></span>
                    </div>
                    <a href="tel:1-415-730-2710" class="strong">415.730.2710</a>
                </div>

                <div class="col-sm-4">
                    <div class="icon-container">
                        <span class="icon-basic-geolocalize-01 colored-text"></span>
                    </div>
                    <a href="" class="strong">2764 23rd St., San Francisco, CA</a>
                </div>
                
            </div>
                
            
        </div>
    </div>
 
    
    
    <!-- =========================
     SCRIPTS   
    ============================== -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <script>
        /* PRE LOADER */
        jQuery(window).load(function () {
            "use strict";
            jQuery(".status").fadeOut();
            jQuery(".preloader").delay(1000).fadeOut("slow");
        })
    </script>
    
    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1005850957;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1005850957/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</body>

</html>